# PostgreSQL
DATABASE_URL="postgres://newuser:sudip@127.0.0.1:5432/ecommerce2"
# FOrmat "postgres://username:password@host:port/db_name"


# General settings
DJANGO_ADMIN_URL='/admin'
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=n&-iv418v#a^y((qj=^(3eub9wa)!1)uvg!4iemekq56e)p7b9

